/* @import "tailwindcss"; */

:root {
  --brand-color-a: #00cef4;
  --brand-color-b: #922bfc;
  --brand-gradient: linear-gradient(
    90deg,
    var(--brand-color-a),
    var(--brand-color-b)
  );
}

html,
body {
  height: 100%;
  margin: 0;
}
.body-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3fdff;
}
.main-grow {
  flex: 1;
  padding-top: 0;
  padding-bottom: 1rem;
}
